* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-kanit);
  /* Apply Kanit font globally */
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-kanit);
}

/* Root Variables */
:root {
  --primary-color: #0885e8;
  --secondary-color: #0c182a;
  --background-dark: #10111c;
  --background-dark-gradient: background: linear-gradient(135deg, #24263e 0%, #151726 30%, #121320 100%);
  --background-light: #ffffff;
  --text-light: #ffffff;
  --text-light-hover: #9a7ffc;
  --text-dark: #000000;
  --background-navbar-dark: #141624;
  --background-navbar-light: #f8f9fa;
  --accent-color-dark: #64caec;
  --accent-color-light: #006bb3;
  --border-color-dark: #2d3748;
  --border-color-light: #dcdcdc;
  --button-bg-dark: #3182ce;
  --button-bg-light: #006bb3;
  --button-bg-secondary-dark: #2d3748;
  --button-bg-secondary-light: #e0e0e0;
  --shadow-color-dark: rgba(0, 0, 0, 0.6);
  --shadow-color-light: rgba(0, 0, 0, 0.1);
  --link-color-dark: #64caec;
  --link-color-light: #006bb3;
  --input-bg-dark: #3a3b4d;
  --input-bg-light: #f7f7f7;
  --input-text-color-dark: #ffffff;
  --input-text-color-light: #000000;
  --hover-bg-dark: #1a202c;
  --hover-bg-light: #e2e8f0;
  --active-bg-dark: #2d3748;
  --active-bg-light: #cbd5e0;
  --font-kanit: 'Kanit', sans-serif;
  --border-radius: 2rem;
  --spacing-xl: 3rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
}

/* Dark Theme */
body.dark-theme {
  --background-color: var(--background-dark);
  --text-color: var(--text-light);
  --navbar-background: var(--background-navbar-dark);
  --accent-color: var(--accent-color-dark);
  --border-color: var(--border-color-dark);
  --button-bg: var(--button-bg-dark);
  --button-bg-secondary: var(--button-bg-secondary-dark);
  --shadow-color: var(--shadow-color-dark);
  --link-color: var(--link-color-dark);
  --input-bg: var(--input-bg-dark);
  --input-text-color: var(--input-text-color-dark);
  --hover-bg: var(--hover-bg-dark);
  --active-bg: var(--active-bg-dark);
}

/* Light Theme */
body.light-theme {
  --background-color: var(--background-light);
  --text-color: var(--text-dark);
  --navbar-background: var(--background-navbar-light);
  --accent-color: var(--accent-color-light);
  --border-color: var(--border-color-light);
  --button-bg: var(--button-bg-light);
  --button-bg-secondary: var(--button-bg-secondary-light);
  --shadow-color: var(--shadow-color-light);
  --link-color: var(--link-color-light);
  --input-bg: var(--input-bg-light);
  --input-text-color: var(--input-text-color-light);
  --hover-bg: var(--hover-bg-light);
  --active-bg: var(--active-bg-light);
}

