.register {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.register .registerCard {
  display: flex;
  flex-direction: row-reverse;
  background-color: white;
  width: 90%;
  max-width: 1000px;
  height: 600px;
  margin: 400px;
  border-radius: 10px;
  overflow: hidden;
  border: none;
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.5);
}

.register .registerCard .left {
  flex: 1;
  flex: 1;
  background: linear-gradient(
    135deg,
    #24263e59 0%,
    #15172680 30%,
    #1213207e 100%
  ),
    url("https://images.pexels.com/photos/6771152/pexels-photo-6771152.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
      center;
  background-size: cover;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  color: white;
}

.register .registerCard .left h1 {
  font-size: 3rem;
  line-height: 1.2;
}

.register .registerCard .left p {
  font-size: 1.25rem;
}

.register .registerCard .left span {
  font-size: 1rem;
}

.register .registerCard .left button {
  width: 50%;
  padding: 10px;
  background-color: white;
  color: navy;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.register .registerCard .right {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.register .registerCard .right h1 {
  background: linear-gradient(135deg, #24263e 0%, #151726 30%, #121320 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  justify-content: center;
  font-size: 2.5rem; 
}

.register .registerCard .right form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  gap: 30px;
}

.register .registerCard .right form input {
  border: none;
  border-bottom: 1px solid lightgray;
  background: transparent;
  padding: 10px;
  font-size: 1rem;
}

.register .registerCard .right form button {
  width: 50%;
  padding: 10px;
  color: white;
  background-color: navy;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
