BASENAME=/
VITE_BACKEND_URL=""

DATABASE_URI="postgresql://gitpod:postgres@localhost:5432/example"

FLASK_APP="main:app"
CRYPTONEWS_API_KEY="ne4tfanlijozrffmfdmb2xztndj0oa3acpumxyzn"

CRYPTOCOMPARE_API_KEY="8f51a6ecb906161ab4f04bff3e3101d87a41841991a9e304dfa69aceca81304e"
