.coinPage {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  padding: var(--spacing-lg);
  min-height: 100vh; /* Ensure the content takes up full viewport height */
}

.components {
  margin: var(--spacing-xxl) auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.coin {
  padding: 30px;
  max-width: 800px;
  margin: var(--spacing-xxl) auto;
  background-color: var(--background-dark); 
  border-radius: 30px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5); 
  width: 50%;
  max-height: 1200px;
  text-align: center; 
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
}

.coin img {
  display: block;
  margin: var(--spacing-md) auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: var(--shadow-light);
}

.coin h1 {
  margin-top: 2rem;
  font-size: 2.25rem;
  margin-bottom: 1rem;
  color: var(--text-color);
}

.dark .coin img {
  box-shadow: var(--shadow-dark);
}

.coin p {
  font-size: 1.125rem; /* 18px */
  line-height: 1.6;
  margin: var(--spacing-sm) 0;
  color: var(--text-color);
}

.coin p:nth-child(3) {
  font-weight: bold;
}

.coin p:nth-child(4) {
  color: #28a745;
  font-size: 1.5rem; /* 24px */
  margin: var(--spacing-md) 0;
}

.coin p:nth-child(5),
.coin p:nth-child(6),
.coin p:nth-child(7),
.coin p:nth-child(8) {
  margin: var(--spacing-sm) 0;
  font-size: 1rem; /* 16px */
}

.chart {
  margin: var(--spacing-lg) 0;
  text-align: center;
}

.chart h2 {
  font-size: 1.5rem; /* 24px */
  margin-bottom: var(--spacing-md);
  color: var(--text-color);
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .coinPage {
    flex-direction: column;
    padding: var(--spacing-md);
  }

  .components,
  .coin {
    width: 100%;
  }

  .coin img {
    width: 120px;
    height: 120px;
  }
}
