.card {
  max-width: 800px;
  padding: 20px 10px;
  border-radius: 8px;
  border: none;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.coin-logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.input-group-prepend {
  display: flex;
  align-items: center;
}

.conversion-result {
  font-size: 1.2em;
  font-weight: bold;
}

.conversion-info {
  font-size: 0.9em;
  color: #555;
}
